/* set up variables */
:root {
  /* colors */
  --color-text-on-light: #333;
  --color-text-on-dark: #fff;

  --color-primary: #666;
  --color-primary-light: #d6d6d6;
  --color-primary-lighter: #f7f7f7;
  --color-primary-dark: #333;
  --color-text-on-primary: var(--color-text-on-dark);
  --color-text-on-primary-light: var(--color-text-on-light);
  --color-text-on-primary-dark: var(--color-text-on-dark);

  --color-secondary: #304ffe;
  --color-secondary-light: #7a7cff;
  --color-secondary-dark: #0026ca;
  --color-text-on-secondary: var(--color-text-on-dark);
  --color-text-on-secondary-light: var(--color-text-on-light);
  --color-text-on-secondary-dark: var(--color-text-on-dark);

  /* shadow */
  --shadow: 0 2px 4px rgba(0,0,0,.25);

  /* spacing */
  --spacing-1x: 5px;
  --spacing-2x: calc(var(--spacing-1x) * 2);
  --spacing-3x: calc(var(--spacing-1x) * 3);
  --spacing-4x: calc(var(--spacing-1x) * 4);
  --spacing-5x: calc(var(--spacing-1x) * 5);
  --spacing-6x: calc(var(--spacing-1x) * 6);

  --standard-border-radius: 4px;
}

/* use border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* default styles */
body {
  margin: 0;
  background: var(--color-primary-lighter);
  color: var(--color-text-on-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: var(--color-secondary);
  color: var(--color-text-on-secondary);
  border: none;
  padding: var(--spacing-2x);
}

button:hover {
  background: var(--color-secondary-light);
  color: var(--color-text-on-secondary-light);
  cursor: pointer;
}

button:active {
  background: var(--color-secondary-dark);
  color: var(--color-text-on-secondary-dark);
}

button:focus {
  text-decoration: underline;
  outline: none;
}
